<p>
SEP 2015 – APR 2018
VISUALISATION ENGINEER, CPL ONLINE
Roles and Responsibilities

Development, maintenance, testing and publishing of web applications and dashboards according to supplied specification

Develop the visualisation framework and add to the range of graphical options

Debug, identify and subsequently implement solutions for technical problems that may occur during a products lifecycle

Communicate with other departments to update on projects, jobs and solutions

Achievements

Winning The Innovation Award
</p>