/* Add application styles & imports to this file! */
html, body {
  background: hsla(0,0%,5%,1);
  color: #ffffff;
}

[center] {
  text-align: center;
}

[no-margin] {
  margin: 0;
}

[margin-v-5] {
  margin: 5px 0;
}